{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

<nav>
<a href="/stellar/contact_create">{% trans "Create Contact" %}</a> |
<a href="/stellar/get_contacts">{% trans "Get Contacts" %}</a><br \>
</nav>
<h3 style="text-align: center;" >Get Contacts</h3>
<div class="container">

  <table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for value in r %}
      <tr>
        <td>{{value.id}}</td>
        <td>{{ value.contact}}</td>
        <td>{{ value.address}}</td>

        <td><a href="#" onclick="send_contact({{value.id}})">Send</a> &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="#" onclick="delete_contact({{value.id}})">Delete</a>
        </td>

      </tr>
{% endfor %}
    </tbody>
  </table>
  <p></p>
</div>

<script>
function delete_contact(valueid)
{
    var status = confirm("Are you sure to delete the record");
    if(status)
    {
        console.log("Deleted");
        window.location =  "http://127.0.0.1:8000/stellar/contact_delete/"+ valueid;
    }
    else
    {
        console.log("Not deleted");
    }

    console.log(carid);
    console.log("CLICK");
}


function send_contact(valueid)
{
    window.location =  "http://127.0.0.1:8000/stellar/send_contact/"+valueid;
}
</script>

{% endblock %}
