{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<fieldset class="settinggg">
    <h2 style="text-align: center;" class='legend'>
      {% trans "Request " %}
    </h2>
</fieldset>



{% if r %}

<div class="row">
  <div class="col-md-4">
    <h4>Account</h4> {{r.account}}
  </div>
  <div class="col-md-4">
    <img src="{% static 'qr/GCNWEGGIJCK663AH3RDL34HTPRFMR7J2B74XQF6YZ2GSYFJTZAKAHFRP.png'%}">
    <input type="email" name="email" placeholder="Enter Email to request"><a href="/stellar/create_account" class="btn btn-info" role="button"> Request </a>
  </div>
  <div class="col-md-4">
  </div>

</div>
{% endif %}



{% endblock %}
